<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajax</title>
  </head>
  <body>
    <h1>Ajax Example</h1>
    <div id="root"></div>

    <script>
      fetch("/api/movies")
        .then((res) => res.json())
        .then((data) => {
          let root = document.querySelector("#root");
          let table = document.createElement("table");

          data.forEach(({ id, title }) => {
            let tr = document.createElement("tr");
            tr.innerHTML = `
                <td>${id}</td>
                <td>${title}</td>`;

            table.appendChild(tr);
          });

          root.appendChild(table);
        });
    </script>
  </body>
</html>
